

button {
  margin: 0 20px 0 0;
  width: 83px;
}

button#hangupButton {
    margin: 0;
}

video {
  height: 240px;
  margin: 0 0 20px 0;
  width: 320px;
}


@media screen and (max-width: 400px) {
  button {
    margin: 0 11px 10px 0;
  }

  video {
    height: 90px;
    margin: 0 0 10px 0;
    width: calc(50% - 8px);
  }

  video#video1 {
    margin: 0 10px 10px 0;
  }

}
